<% if (site.posts.length){ %>
  <div class="widget-wrap">

    <h3 class="widget-title" data-scroll-reveal="enter top and over 0.7s" ><i class="fa fa-comments"></i><%= __('recent_comments') %></h3>
    <div class="widget">
    <ul class="ds-recent-comments ds-avatar" id="ds-reset" data-num-items="3"
    data-show-avatars="1" data-show-time="1"
    data-show-admin="1" data-excerpt-length="70"></ul>
    </div>
  </div>
<% } %>
