@import "nib"
@import "_variables"
@import "_util/mixin"
@import "_util/grid"

global-reset()

input, button
  margin: 0
  padding: 0

  &::-moz-focus-inner
    border: 0
    padding: 0

@font-face
  font-family: FontAwesome
  font-style: normal
  font-weight: normal
  src: url(font-icon-path + ".eot?v=#" + font-icon-version)
  src: url(font-icon-path + ".eot?#iefix&v=#" + font-icon-version) format("embedded-opentype"),
          url(font-icon-path + ".woff?v=#" + font-icon-version) format("woff"),
          url(font-icon-path + ".ttf?v=#" + font-icon-version) format("truetype"),
          url(font-icon-path + ".svg#fontawesomeregular?v=#" + font-icon-version) format("svg")

html, body, #container
  height: 100%

body
  background: color-background
  //background: url(http://7xpcdg.com1.z0.glb.clouddn.com/background.png) center #000
  background-size: cover
  font: font-size / line-height font-sans
  -webkit-text-size-adjust: 100%

.outer
  clearfix()
  max-width: (column-width + gutter-width) * columns + gutter-width
  margin: 0 auto
  padding: 0 10px

.inner
  column(columns)

.left, .alignleft
  float: left

.right, .alignright
  float: right

.clear
  clear: both

#container
  position: relative

.mobile-nav-on
  overflow: hidden

#wrap
  height: 100%
  width: 100%
  position: absolute
  top: 0
  left: 0
  transition: 0.3s ease-out
  z-index: 1
  background: color-background

  .mobile-nav-on &
    left: mobile-nav-width

if sidebar and sidebar isnt bottom
  #main
    @media mq-normal
      column(main-column)

if sidebar is left
  #main
    float: right

@import "_extend"
@import "_partial/header"
@import "_partial/article"
@import "_partial/comment"
@import "_partial/archive"
@import "_partial/footer"
@import "_partial/highlight"
@import "_partial/mobile"
@import "_partial/totop"
@import "_partial/link"
@import "_partial/search"
@import "_partial/admonition"
@import "_partial/donate.styl"

if sidebar
  @import "_partial/sidebar"

.copyright {
  margin: 2em 0 0;
  border-radius: 0em;
  padding: 0.5em 1em;
  border-left: 9px solid #FF1700;
  border-right: 9px solid #FF1700;
  background-color: #fafafa;
  list-style: none;
}