@import "nib"
@import "_variables"
@import "_util/mixin"
@import "_util/grid"

global-reset()

input, button
  margin: 0
  padding: 0
  &::-moz-focus-inner
    border: 0
    padding: 0

@font-face
  font-family: FontAwesome
  font-style: normal
  font-weight: normal
  src: url(font-icon-path + ".eot?v=#" + font-icon-version)
  src: url(font-icon-path + ".eot?#iefix&v=#" + font-icon-version) format("embedded-opentype"),
       url(font-icon-path + ".woff?v=#" + font-icon-version) format("woff"),
       url(font-icon-path + ".ttf?v=#" + font-icon-version) format("truetype"),
       url(font-icon-path + ".svg#fontawesomeregular?v=#" + font-icon-version) format("svg")

html, body, #container
  height: 100%

body
  background: color-background
  //background: url(http://7xpcdg.com1.z0.glb.clouddn.com/background.png) center #000
  background-size: cover
  font: font-size/line-height font-sans
  -webkit-text-size-adjust: 100%

.outer
  clearfix()
  max-width: (column-width + gutter-width) * columns + gutter-width
  margin: 0 auto
  padding: 0 10px

.inner
  column(columns)

.left, .alignleft
  float: left

.right, .alignright
  float: right

.clear
  clear: both

#container
  position: relative

.mobile-nav-on
  overflow: hidden

#wrap
  height: 100%
  width: 100%
  position: absolute
  top: 0
  left: 0
  transition: 0.3s ease-out
  z-index: 1 
  background: color-background
  .mobile-nav-on &
    left: mobile-nav-width

if sidebar and sidebar isnt bottom
  #main
    @media mq-normal
      column(main-column)

if sidebar is left
  #main
    float: right

@import "_extend"
@import "_partial/header"
@import "_partial/article"
@import "_partial/comment"
@import "_partial/archive"
@import "_partial/footer"
@import "_partial/highlight"
@import "_partial/mobile"
@import "_partial/totop"
@import "_partial/link"
@import "_partial/search"

if sidebar
  @import "_partial/sidebar"




  span.ua{
  	margin: 0 1px!important;
  	color:color-widget-background!important;
  	/*text-transform: Capitalize!important;
  	float: right!important;
  	line-height: 18px!important;*/
  }


  .sskadmin{
      background-color: #47a4ff!important;
      border-color: #4cae4c!important;
      border-radius: 4px;
      padding: 0 5px!important;
  }



  .ua_other.os_other{
  	background-color: #ccc!important;
  	color: color-widget-background;
  	border: 1px solid #BBB!important;
  	border-radius: 4px;
  }
  .ua_ie{
  	background-color: #428bca!important;
  	border-color: #357ebd!important;
  	border-radius: 4px;
  	padding: 0 5px!important;
  }
  .ua_firefox{
  	background-color: #f0ad4e!important;
  	border-color: #eea236!important;
  	border-radius: 4px;
  	padding: 0 5px!important;
  }
  .ua_maxthon{
  	background-color: #7373B9!important;
  	border-color: #7373B9!important;
  	border-radius: 4px;
  	padding: 0 5px!important;
  }
  .ua_ucweb{
  	background-color: #FF740F!important;
  	border-color: #d43f3a!important;
  	border-radius: 4px;
  	padding: 0 5px!important;
  }
  .ua_sogou{
  	background-color: #78ACE9!important;
  	border-color: #4cae4c!important;
  	border-radius: 4px;
  	padding: 0 5px!important;
  }
  .ua_2345explorer{
  	background-color: #2478B8!important;
  	border-color: #4cae4c!important;
  	border-radius: 4px;
  	padding: 0 5px!important;
  }
  .ua_2345chrome{
  	background-color: #F9D024!important;
  	border-color: #4cae4c!important;
  	border-radius: 4px;
  	padding: 0 5px!important;
  }
  .ua_mi{
  	background-color: #FF4A00!important;
  	border-color: #4cae4c!important;
  	border-radius: 4px;
  	padding: 0 5px!important;
  }
  .ua_lbbrowser{
  	background-color: #FC9D2E!important;
  	border-color: #4cae4c!important;
  	border-radius: 4px;
  	padding: 0 5px!important;
  }
  .ua_chrome{
  	background-color: #EE6252!important;
  	border-color: #4cae4c!important;
  	border-radius: 4px;
  	padding: 0 5px!important;
  }
  .ua_qq{
  	background-color: #3D88A8!important;
  	border-color: #4cae4c!important;
  	border-radius: 4px;
  	padding: 0 5px!important;
  }
  .ua_apple{
  	background-color: #E95620!important;
  	border-color: #4cae4c!important;
  	border-radius: 4px;
  	padding: 0 5px!important;
  }
  .ua_opera{
  	background-color: #d9534f!important;
  	border-color: #d43f3a!important;
  	border-radius: 4px;
  	padding: 0 5px!important;
  }


  .os_vista,.os_2000,.os_windows,.os_xp,.os_7,.os_8,.os_8_1 {
  	background-color: #39b3d7!important;
  	border-color: #46b8da!important;
  	border-radius: 4px;
  	padding: 0 5px!important;
  }

  .os_android {
  	background-color: #98C13D!important;
  	border-color: #01B171!important;
  	border-radius: 4px;
  	padding: 0 5px!important;
  }
  .os_ubuntu{
  	background-color: #DD4814!important;
  	border-color: #01B171!important;
  	border-radius: 4px;
  	padding: 0 5px!important;
  }
  .os_linux {
  	background-color: #3A3A3A!important;
  	border-color: #1F1F1F!important;
  	border-radius: 4px;
  	padding: 0 5px!important;
  }
  .os_mac{
  	background-color: #666666!important;
  	border-color: #1F1F1F!important;
  	border-radius: 4px;
  	padding: 0 5px!important;
  }
  .os_unix{
  	background-color: #006600!important;
  	border-color: #1F1F1F!important;
  	border-radius: 4px;
  	padding: 0 5px!important;
  }
  .os_nokia{
  	background-color: #014485!important;
  	border-color: #1F1F1F!important;
  	border-radius: 4px;
  	padding: 0 5px!important;
  }
  /*多说UA结束*/
