#footer
  background: url(http://7xpcdg.com1.z0.glb.clouddn.com/footerNew.jpg) center #000
  // background: color-footer-background
  padding: 50px 0
  border-top: 1px solid color-border
  color: color-grey
  a
    // color: color-link
    color: color-grey
    text-decoration: none
    &:hover
      color: color-widget-background
      text-decoration: underline

#footer-info
  line-height: line-height
  font-size: 0.85em



#heart-icon
  &:before
    content: "\f21e"
    padding-right: 5px
