 $weight-link
  display: inline-block
  padding: 2px




.weight-icon-link
  @extend $weight-link
  font-family: font-icon
  font-size: 1.3em;
  letter-spacing: 1px
  //margin:7px auto;

#github-alt-icon-color
    color: #000
    background: color-widget-background;
    transition:all 0.5s
    &:hover
      color: #000




#zhihu-icon-color
    color: #0f88eb
    background: color-widget-background
    transition:all 0.5s
    &:hover
      color: #000



#weixin-icon-color
    color: color-green
    background: color-widget-background
    transition:all 0.5s
    &:hover
      color: #000


#qq-icon-color
    color: #49afcd
    background: color-widget-background
    transition:all 0.5s
    &:hover
      color: #000


#weibo-icon-color
    color: color-weibo
    background: color-widget-background
    transition:all 0.5s
    &:hover
      color: #000


#envelope-o-icon-color
    color: #e69658
    background: color-widget-background
    transition:all 0.5s
    &:hover
      color: #000


#music-icon-color
    color: #fe6c34
    background: color-widget-background
    transition:all 0.5s
    &:hover
      color: #000


#csdn-icon-color
    color: #6c7eb7
    background: color-widget-background
    transition:all 0.5s
    &:hover
      color: #000


#douban-icon-color
    color: #15C7E0
    background: color-widget-background
    transition:all 0.5s
    &:hover
      color: #000


#facebook-icon-color
    color: #15C7E0
    background: color-widget-background
    transition:all 0.5s
    &:hover
      color: #000


#linkedin-icon-color
    color: #15C7E0
    background: color-widget-background
    transition:all 0.5s
    &:hover
      color: #000

#qqmusic-icon-color
    color: color-green
    background: color-widget-background
    transition:all 0.5s
    &:hover
      color: #000


#neteasemusic-icon-color
  color: #FFFFFF
  background color-widget-background
  transition:all 0.5s
  &:hover
    color: #000
